# Maven
target/
*.jar
*.war
*.ear
*.class

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Mac
.DS_Store

# Logs
logs/
*.log

# Outros
extracted_docx/
*.bak
.env

# Documentos
*.docx
texts.txt
document.xml.txt
*.docx
